#loading-indicator {
	animation: rotate 2s ease-in-out infinite;
	width: 1em
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

#weather.hourly {
	table-layout: fixed;
	overflow-x: scroll;
	width: max-content;
}

#weather.daily {
	overflow-x: scroll;
	width: 5000px
}

#weather * {
	border-left: 1px black solid;
}